<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      class="h-100">

<head th:insert="base :: head" />
<body class="d-flex flex-column h-100">

<header th:replace="base :: header"> </header>
<main class="flex-shrink-0">
    <div class="container">
        <iframe src="https://giphy.com/embed/11ISwbgCxEzMyY" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/reaction-mrw-11ISwbgCxEzMyY"></a></p>
    </div>
</main>
<footer th:replace="base :: footer"> </footer>

</body>
</html>